/* Global */
:root {
    /* Color */
    --color-green: #A8E9A9;
    --color-dark-green: #B0E982;
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-black: #000000;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7da;
    --color-orange: #feb546;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-smal: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 0.5em;
}

    /* Universal tags  */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}
a {
    text-decoration: none;
}

a:visited {
    color: var(--color-light-grey);
}

ul {
    list-style: none;
}

    /* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}

h2 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Navbar */
#nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
}

.nav__logo {
    display: flex;
    align-items: center;
    font-size: var(--font-medium);
    font-weight: bold;
}

.nav__logo>img {
    margin: 0.5em;
    width: 100px;
    height: 100px;    
}

.nav__manu {
    display: flex;
    font-size: var(--font-regular);
    font-weight: bold;
    cursor: pointer;
}

.nav__manu__item {
    margin: 0 1em;
    padding: 0.5em;
    flex-shrink: 1;
    border-radius: var(--size-border-radius);
}

.nav__manu__item:hover, .nav__manu__item.active {
    background-color: white;
    color: var(--color-green);
    
}






#main__home {
    background-image: url(./imgs/background-1.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}



#main__home__container {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

#home__pic img {
    border-radius: 50%;
    border: 2px solid white;
    height: 25em;
    width: 25em;
    margin: 2em;
}

#home__text {
    color: white;;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#home__text > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 0.2em;
}

#home__text > span {
    font-size: 2em;
    font-weight: bold;
}

#button--contact {
    border: none;
    background: none;
    padding: 0.3em;
    color: white;
    margin: 2em;
    font-size: 2em;
    font-weight: bold;
}

#button--contact:hover {
    background-color: white;
    color: var(--color-green);
}
